<h2>Forma za password reset:</h2>
<form>
  <table>
    <tr>
      <td>Token:</td>
      <td><input type="text" name="email" id="token" required></td>
    </tr>
    <tr>
      <td>Password:</td>
      <td><input type="password" name="password" id="password" required></td>
    </tr>
    <tr>
      <td>Ponovite password:</td>
      <td><input type="password" name="cpassword" id="cpassword" required></td>
    </tr>
  </table>
</form>
<button (click)="reset()" type="submit">Reset</button><br>

<br/>

<h2>Forma za zahtevanje reseta:</h2>
<form>
  <table>
    <tr>
      <td>Email:</td>
      <td><input type="text" name="email" id="email" required></td>
    </tr>
  </table>
</form>
<button (click)="requestReset()" type="submit">Trazi reset</button><br>

<a routerLink="/">Nazad</a>
