<div>
  <table>
    <tr>
      <th>Kompanija</th>
      <th>Broj leta</th>
      <th>Polazak</th>
      <th>Odrediste</th>
      <th>Vreme polaska</th>
      <th>Vreme dolaska</th>
      <th>Broj karata</th>
      <th></th>
    </tr>
    <tr *ngFor="let flight of flights">
      <td>{{flight.company.name}}</td>
      <td>{{flight.number}}</td>
      <td>{{flight.from_destination}}</td>
      <td>{{flight.to_destination}}</td>
      <td>{{flight.departuretime | date : 'yyyy-MM-dd h:mm'}}</td>
      <td>{{flight.arrivaltime | date : 'yyyy-MM-dd h:mm'}}</td>
      <td><input type="text" id="{{flight.number}}"></td>
      <td><button (click)="buy(flight.number)" type="submit">Kupi</button></td>
    </tr>
  </table>
</div>
<button (click)="back()" type="submit">Nazad</button><br>
