table {
  border: 1px solid black;
  padding: 5px;
  border-spacing: 15px;
}

.valid {
  border: 1px solid black;
  padding: 5px;
  background-color: lightblue;
}

.taken {
  border: 1px solid black;
  padding: 5px;
  background-color: darkred;
}
