<h2>Cenovnik:</h2>
<div>
  <table>
    <tr>
      <th>Broj leta</th>
      <th>Polazak</th>
      <th>Odrediste</th>
      <th>Cena</th>
      <th>Nova cena</th>
      <th></th>
    </tr>
    <tr *ngFor="let flight of flights; let k = index">
      <td>{{flight.number}}</td>
      <td>{{flight.from_destination}}</td>
      <td>{{flight.to_destination}}</td>
      <td><span *ngIf="prices[k]">{{prices[k].price}}</span></td>
      <td><input type="text" id="{{flight.number}}"></td>
      <td><button (click)="changePrice(flight.number)" type="submit">Promeni</button></td>
    </tr>
  </table>
</div>
<button (click)="back()" type="submit">Nazad</button><br>
